
p {
	text-align: center;
	font-family: kozuka gothic pro;
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	color: white;
}

h2 {
	text-align: center;
	font-family: kozuka gothic pro;
	font-weight: normal;
	font-style: light;
	font-size: 15px;
}

h2 a {
	color: white;
	transition: all .3s linear;
}

h2 a:hover {
	color: black;
	transition-duration: .3s;
}

body {
	margin: 0;
	background: #d3d3d3;
}

img,
video,
iframe {
	max-width: 100%;
	height: auto;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	
}

.clear {
	overflow: hidden;
}

/*
	masthead layout
	this shows up at the top of the page and includes the navigation.
*/ 

.masthead {
	background: black;

}

.nav {
	padding: 0;
	list-style: none;
}

.nav li {
	display: block;
}

.nav a {
	color: white;
	display: block;
	position: relative;
	padding: 1em;
	background: grey;
	transition: all .5s linear; 
}


.nav a:hover {
	color: black;
	background: white;
	transition-duration: .3s;
}

.nav a:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 5px;
	background: black;
	transition: all .3s linear;
}

.nav a:hover:after {
	width: 100%;
}

.nav.center {
	text-align: center;
}

@media (min-width: 500px) {
	.nav.fit {
		display: table;
		width: 100%;
	}

	.nav.fit li {
		display: table-cell;
	}

	.nav.fit a {
		display: block;
	}
}

.main-conent {
	background: grey;
}

.sub-content {
	background: #71637D;
}

@media (min-width: 500px) {
	.main-content {
		float: left;
		width: 60%;
		margin-left: 20%;
	}
	
	.sub-content {
		float: left;
		width: 20%;
		margin-left: -80%;
		}
		
	.third-content {
		float: left;
		width: 20%;
	}
}

.bar {

}

#primary-nav {

}

h1 {
	text-align: center;
	font-family: kozuka gothic pro;
	font-weight: normal;
	font-style: light;
	font-size: 40px;
	color: white;
}
